.banner{
    width: 100%;
    position: relative;
    height: 280px;
    img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .0;
    }
    .img_action{
        opacity: 1;
        transition: opacity .6s;
    }
    ul{
        position: absolute;
        bottom: 22px;
        text-align: center;
        z-index: 2;
        left: 50%;
        bottom: 10px;
        margin-left: -90px;
        li{
            float: left;
            cursor: pointer;
            margin: 0 6px;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background: rgba(0,0,0,0.4)
        }
        .red_action{
            background: #eb3b4a;
        }
    }
    a{
        width: 66px;
        display: block;
        height: 66px;
        position: absolute;
        opacity: .0;
        filter: alpha(opacity=0);
        background-repeat: no-repeat;
        top: 50%;
        margin-top: -35px;
        z-index: 10;
        -webkit-transition: -webkit-opacity 500ms ease-out;
        -moz-transition: -moz-opacity 500ms ease-out;
        -o-transition: -o-opacity 500ms ease-out;
        transition: opacity 500ms ease-out;
        z-index: 4;
        
    }
    .ban_left{
        left: 50%;
        margin-left: -600px;
        background: url(../img/new_focus_prev.png) no-repeat 0px 0px;
        background-position: 0 0;
    }
    .ban_right{
        right: 50%;
        margin-right: -600px;
        background: url(../img/new_focus_next.png) no-repeat 0px 0px;
        background-position: 0 0;
    }
    &:hover a{
        opacity : .7
    }
}

