.logo_search{
    width: 100%;
    height: 130px;
    background: yellowgreen;
    .search_area{
        width: 1200px;
        height: 50px;
        background: yellow;
        margin: 0 auto;
    }
}