@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
@import "other";
@import "header";
@import "drop_down";
@import "logo_search";
@import "nav_case";
@import "banner";
@import "render_all";
@import "back_top";
@import "footer";