* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 30px;
  background: #f7f7f7;
  color: #999;
}

.head {
  width: 1200px;
  margin: 0 auto;
  height: 43px;
}
.head li {
  float: left;
  margin: 0 10px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
}
.head li a {
  color: #999;
}
.head a:hover {
  color: red;
}
.head a:hover span {
  background-position-y: -20px;
}
.head a:hover .right_six {
  background-position-y: 5px;
  background-position-x: -89px;
}

.head_left {
  float: left;
}

.head_right {
  float: right;
}
.head_right li:last-child {
  margin: 0;
}
.head_right .shop_num {
  color: red;
  font-weight: 900;
}
.head_right .shugang {
  float: left;
  width: 1px;
  height: 10px;
  background: #999;
  display: inline-block;
  margin: 12px 10px;
}
.head_right .right_one, .head_right .right_two, .head_right .right_three, .head_right .right_four, .head_right .right_five, .head_right .right_six {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 5px;
  display: inline-block;
}
.head_right .right_one {
  background: url(../img/topMenu_redicon.png) no-repeat -135px 0px;
}
.head_right .right_two {
  background: url(../img/topMenu_redicon.png) no-repeat 0px 0px;
}
.head_right .right_three {
  background: url(../img/topMenu_redicon.png) no-repeat -110px 0px;
}
.head_right .right_four {
  background: url(../img/topMenu_redicon.png) no-repeat -40px 0px;
}
.head_right .right_five {
  background: url(../img/topMenu_redicon.png) no-repeat -60px 0px;
}
.head_right .right_six {
  background: url(../img/topMenu_redicon.png) no-repeat -74px 5px;
}
.head_right .aqy_code {
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 10px;
  display: none;
}
.head_right .aqy_code img {
  width: 80px;
  height: 80px;
  float: left;
}
.head_right .aqy_code p {
  width: 100px;
  float: right;
}
.head_right li:nth-child(5):hover {
  background: white;
}
.head_right li:nth-child(5):hover .aqy_code {
  display: block;
  color: #000;
}

.drop_down {
  width: 100%;
  position: relative;
}
.drop_down img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.drop_down .big_img {
  height: 300px;
}
.drop_down .small_img {
  height: 50px;
}
.drop_down span {
  width: 44px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 15px;
  z-index: 1;
  background: rgba(126, 140, 206, 0.4);
  padding-left: 5px;
  color: white;
  cursor: pointer;
}
.drop_down .drop_open::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/iqiyiMallPcIndexExpendTrans.png) no-repeat 0 0px;
}
.drop_down .drop_off::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/iqiyiMallPcIndexExpendTrans.png) no-repeat 0 -15px;
}
.drop_down .drop_open {
  display: none;
}
.drop_down .drop_off {
  display: none;
}

.logo_search {
  width: 100%;
  height: 130px;
  padding-top: 37px;
}

.search_area {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.search_area .logo {
  float: left;
}
.search_area .search {
  float: left;
  width: 664px;
  height: 60px;
  padding-left: 154px;
}
.search_area .search .top_search {
  border: 1px solid #ee394b;
  height: 36px;
}
.search_area .search .top_search .search_box {
  width: 396px;
  border: 0;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  height: 34px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  float: left;
}
.search_area .search .top_search .start_seatch {
  float: left;
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 34px;
  margin: 0;
  float: right;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  outline: 0;
  cursor: pointer;
}
.search_area .search .hot_search {
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 10px;
  color: #c7c7c7;
  margin-left: -8px;
}
.search_area .search .hot_search li {
  margin: 0 8px;
  float: left;
  font-size: 12px;
  cursor: pointer;
}
.search_area .search .hot_search span {
  display: inline-block;
  float: left;
}
.search_area .search .hot_search .hot_red {
  color: red;
}
.search_area .search .hot_search li:hover {
  color: red;
}
.search_area .ad_cut {
  width: 209px;
  height: 50px;
  float: right;
  position: relative;
}
.search_area .ad_cut div {
  float: right;
  width: 160px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}
.search_area .ad_cut div img {
  width: 50px;
  height: 50px;
  float: left;
}
.search_area .ad_cut div p {
  margin: 8px 5px;
  float: left;
  font-size: 12px;
  line-height: 5px;
}
.search_area .ad_cut .lighter {
  display: none;
}
.search_area .ad_cut .glasses {
  display: block;
}
.search_area .ad_cut .img_cut {
  float: right;
  margin: 31px 0 0 10px;
  width: 39px;
  height: 19px;
  background: url(../img/arrow2.gif) no-repeat;
  cursor: pointer;
}

.nav_case {
  width: 100%;
  background: #eb3b4a;
  height: 40px;
}
.nav_case ul {
  width: 1200px;
  margin: 0 auto;
}
.nav_case ul li {
  line-height: 37px;
  float: left;
  padding: 0 25px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
}
.nav_case ul li a {
  color: white;
}
.nav_case ul li:first-child {
  border-bottom: 3px solid #c90808;
}
.nav_case ul li:hover {
  border-bottom: 3px solid #c90808;
}

.banner {
  width: 100%;
  position: relative;
  height: 280px;
}
.banner img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.banner .img_action {
  display: block;
}
.banner ul {
  position: absolute;
  bottom: 22px;
  text-align: center;
  z-index: 2;
  left: 50%;
  bottom: 10px;
  margin-left: -90px;
}
.banner ul li {
  float: left;
  cursor: pointer;
  margin: 0 6px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
}
.banner ul .red_action {
  background: #eb3b4a;
}

/*# sourceMappingURL=demo.css.map */
