* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 30px;
  background: #f7f7f7;
  color: #999;
}

.head {
  width: 1200px;
  margin: 0 auto;
  height: 43px;
}
.head li {
  float: left;
  margin: 0 10px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
}
.head li a {
  color: #999;
}
.head a:hover {
  color: red;
}
.head a:hover span {
  background-position-y: -20px;
}
.head a:hover .right_six {
  background-position-y: 5px;
  background-position-x: -89px;
}

.head_left {
  float: left;
}

.head_right {
  float: right;
}
.head_right li:last-child {
  margin: 0;
}
.head_right .shop_num {
  color: red;
  font-weight: 900;
}
.head_right .shugang {
  float: left;
  width: 1px;
  height: 10px;
  background: #999;
  display: inline-block;
  margin: 12px 10px;
}
.head_right .right_one, .head_right .right_two, .head_right .right_three, .head_right .right_four, .head_right .right_five, .head_right .right_six {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 5px;
  display: inline-block;
}
.head_right .right_one {
  background: url(../img/topMenu_redicon.png) no-repeat -135px 0px;
}
.head_right .right_two {
  background: url(../img/topMenu_redicon.png) no-repeat 0px 0px;
}
.head_right .right_three {
  background: url(../img/topMenu_redicon.png) no-repeat -110px 0px;
}
.head_right .right_four {
  background: url(../img/topMenu_redicon.png) no-repeat -40px 0px;
}
.head_right .right_five {
  background: url(../img/topMenu_redicon.png) no-repeat -60px 0px;
}
.head_right .right_six {
  background: url(../img/topMenu_redicon.png) no-repeat -74px 5px;
}
.head_right .aqy_code {
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 10px;
  display: none;
}
.head_right .aqy_code img {
  width: 80px;
  height: 80px;
  float: left;
}
.head_right .aqy_code p {
  width: 100px;
  float: right;
}
.head_right li:nth-child(5):hover {
  background: white;
}
.head_right li:nth-child(5):hover .aqy_code {
  display: block;
  color: #000;
}

.drop_down {
  width: 100%;
  position: relative;
}
.drop_down img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.drop_down .big_img {
  height: 300px;
}
.drop_down .small_img {
  height: 50px;
}
.drop_down span {
  width: 44px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 15px;
  z-index: 1;
  background: rgba(126, 140, 206, 0.4);
  padding-left: 5px;
  color: white;
  cursor: pointer;
}
.drop_down .drop_open::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/iqiyiMallPcIndexExpendTrans.png) no-repeat 0 0px;
}
.drop_down .drop_off::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/iqiyiMallPcIndexExpendTrans.png) no-repeat 0 -15px;
}
.drop_down .drop_open {
  display: none;
}
.drop_down .drop_off {
  display: none;
}

.logo_search {
  width: 100%;
  height: 130px;
  padding-top: 37px;
}

.search_area {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.search_area .logo {
  float: left;
}
.search_area .search {
  float: left;
  width: 664px;
  height: 60px;
  padding-left: 154px;
}
.search_area .search .top_search {
  border: 1px solid #ee394b;
  height: 36px;
}
.search_area .search .top_search .search_box {
  width: 396px;
  border: 0;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  height: 34px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  float: left;
}
.search_area .search .top_search .start_seatch {
  float: left;
  width: 100px;
  color: #fff;
  border: 0;
  background: #eb3b4a;
  font-size: 20px;
  height: 34px;
  margin: 0;
  float: right;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  outline: 0;
  cursor: pointer;
}
.search_area .search .hot_search {
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  margin-top: 10px;
  color: #c7c7c7;
  margin-left: -8px;
}
.search_area .search .hot_search li {
  margin: 0 8px;
  float: left;
  font-size: 12px;
  cursor: pointer;
}
.search_area .search .hot_search span {
  display: inline-block;
  float: left;
}
.search_area .search .hot_search .hot_red {
  color: red;
}
.search_area .search .hot_search li:hover {
  color: red;
}
.search_area .ad_cut {
  width: 209px;
  height: 50px;
  float: right;
  position: relative;
}
.search_area .ad_cut div {
  float: right;
  width: 160px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}
.search_area .ad_cut div img {
  width: 50px;
  height: 50px;
  float: left;
}
.search_area .ad_cut div p {
  margin: 8px 5px;
  float: left;
  font-size: 12px;
  line-height: 5px;
}
.search_area .ad_cut .lighter {
  display: none;
}
.search_area .ad_cut .glasses {
  display: block;
}
.search_area .ad_cut .img_cut {
  float: right;
  margin: 31px 0 0 10px;
  width: 39px;
  height: 19px;
  background: url(../img/arrow2.gif) no-repeat;
  cursor: pointer;
}

.nav_case {
  width: 100%;
  background: #eb3b4a;
  height: 40px;
}
.nav_case ul {
  width: 1200px;
  margin: 0 auto;
}
.nav_case ul li {
  line-height: 37px;
  float: left;
  padding: 0 25px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
}
.nav_case ul li a {
  color: white;
}
.nav_case ul li:first-child {
  border-bottom: 3px solid #c90808;
}
.nav_case ul li:hover {
  border-bottom: 3px solid #c90808;
}

.banner {
  width: 100%;
  position: relative;
  height: 280px;
}
.banner img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.banner .img_action {
  display: block;
}
.banner ul {
  position: absolute;
  bottom: 22px;
  text-align: center;
  z-index: 2;
  left: 50%;
  bottom: 10px;
  margin-left: -90px;
}
.banner ul li {
  float: left;
  cursor: pointer;
  margin: 0 6px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
}
.banner ul .red_action {
  background: #eb3b4a;
}

.render_all {
  width: 1200px;
  margin: 0 auto;
}
.render_all .adver_top {
  margin-top: 40px;
}
.render_all .section_one .section_top, .render_all .section_two .section_top {
  height: 36px;
  margin: 50px 0 15px 0;
}
.render_all .section_one .section_top img, .render_all .section_two .section_top img {
  float: left;
  width: 36px;
  height: 36px;
}
.render_all .section_one .section_top h3, .render_all .section_two .section_top h3 {
  vertical-align: middle;
  line-height: 36px;
  margin: 0 10px;
  font-size: 28px;
  color: #333;
  float: left;
  font-weight: 100;
}
.render_all .section_one .section_top p, .render_all .section_two .section_top p {
  width: 160px;
  height: 20px;
  float: left;
  margin-top: 10px;
  border-left: 1px solid #c2c2c2;
  text-align: center;
  color: #c2c2c2;
}
.render_all .section_one .section_top span, .render_all .section_two .section_top span {
  float: right;
  margin-top: 15px;
  font-size: 14px;
}
.render_all .section_one .section_top a, .render_all .section_two .section_top a {
  color: #666;
}
.render_all .section_one .section_top a:hover, .render_all .section_two .section_top a:hover {
  color: red;
}

.day_selected {
  height: 510px;
}
.day_selected li {
  width: 240px;
  height: 255px;
  float: left;
  border: 1px solid #c2c2c2;
  border-bottom: 0;
  border-right: 0;
}
.day_selected .xia_li {
  border-bottom: 1px solid #c2c2c2;
}
.day_selected li:nth-child(5n) {
  border-right: 1px solid #c2c2c2;
}
.day_selected a {
  width: 240px;
  height: 255px;
  display: block;
  text-align: center;
  color: black;
}
.day_selected img {
  width: 140px;
  height: 140px;
  margin-top: 10px;
  transition: transform 1s;
}
.day_selected li:hover img {
  transform: scale(1.1);
}
.day_selected p {
  text-align: left;
  margin-left: 15px;
  font-size: 14px;
}
.day_selected span {
  font-size: 12px;
  color: #999;
}
.day_selected p:nth-child(2) {
  margin-top: 15px;
}
.day_selected p:nth-child(3) span:nth-child(1) {
  background: url(../img/newPCindexproductStatus.png) no-repeat;
  color: white;
  display: inline-block;
  height: 20px;
  width: 60px;
  text-indent: 6px;
}
.day_selected p:nth-child(4) {
  margin-top: 10px;
  margin-left: 10px;
}
.day_selected p:nth-child(4) span:nth-child(1) {
  font-size: 20px;
  margin-top: 3px;
  color: #ee394b;
}
.day_selected p:nth-child(4) span:nth-child(2) {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}

.today_sale {
  overflow: hidden;
}
.today_sale .shop_left {
  width: 832px;
  height: 100%;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.today_sale .shop_left .shopactivity {
  width: 840px;
  height: 292px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.today_sale .shop_left .shop_left_div {
  width: 250px;
  text-align: center;
}
.today_sale .shop_left p {
  width: 250px;
  font-size: 18px;
  color: #777;
  line-height: 24px;
  overflow: hidden;
  margin: 17px auto 0;
  height: 24px;
  float: left;
}
.today_sale .shop_left p:nth-child(1) {
  color: #333;
  margin-top: 100px;
  font-size: 24px;
}
.today_sale .shop_left img {
  width: 580px;
  height: 290px;
}
.today_sale .shop_rightone {
  width: 340px;
  float: right;
  margin-bottom: 20px;
}
.today_sale .shop_rightone .hot_title {
  width: 100%;
  background: url(../img/nav_tint_redbg.png) no-repeat;
  height: 50px;
  line-height: 50px;
}
.today_sale .shop_rightone h4 {
  background: url(../img/good_hot_redranking.png) no-repeat 10px 50%;
  font-size: 21px;
  color: #333;
  display: inline-block;
  text-indent: 40px;
  width: 290px;
}
.today_sale .shop_rightone ul {
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.today_sale .shop_rightone ul li {
  width: 100%;
  height: 110px;
}
.today_sale .shop_rightone ul img {
  width: 90px;
  height: 90px;
  margin: 10px;
  float: left;
}
.today_sale .shop_rightone ul div {
  float: left;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  position: relative;
  height: 110px;
  width: 200px;
  margin-left: 10px;
  padding-top: 15px;
}
.today_sale .shop_rightone ul p:nth-child(1) {
  background: url(../img/hot_first.png) no-repeat;
  width: 57px;
  height: 20px;
}
.today_sale .shop_rightone ul p:nth-child(2) {
  width: 100%;
  font-size: 14px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
  margin-top: 10px;
}
.today_sale .shop_rightone ul p:nth-child(3) {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  line-height: 18px;
}
.today_sale .shop_rightone ul span:nth-child(1) {
  font-size: 18px;
  color: #ee394b;
  display: inline-block;
  float: left;
}
.today_sale .shop_rightone ul span:nth-child(2) {
  font-size: 12px;
  color: #999;
  float: left;
  margin-left: 85px;
}
.today_sale .shop_rightone ul span:nth-child(3) {
  font-size: 12px;
  color: #ee394b;
  padding-left: 10px;
  float: right;
}

.back_top {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  position: fixed;
  z-index: 10;
  width: 36px;
  margin-left: 3px;
  height: 82px;
  left: 1284.5px;
  bottom: 20px;
  display: block;
}
.back_top .feedback {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/baseRedScrollBar.png) 0px 164px;
  cursor: pointer;
}
.back_top .baseToTop {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/baseRedScrollBar.png) 0 35px;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  text-align: center;
  padding-left: 50px;
}
footer a {
  color: black;
}
footer .footer_icons_List:first-child {
  height: 138px;
}
footer .footer_icons_List {
  width: 1200px;
  margin: 0 auto;
  height: 185px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
footer .iconbox {
  width: 20%;
  height: 100%;
  display: inline-block;
  float: left;
}
footer .iconbox .iconImg {
  width: 70px;
  height: 70px;
  margin: 34px 0 34px 43px;
  float: left;
}
footer .iconbox .iconImg img {
  vertical-align: middle;
}
footer .iconbox .iconText {
  margin-left: 18px;
  float: left;
  margin-top: 48px;
  color: #777;
  font-size: 12px;
}
footer .iconbox p:first-child {
  margin-bottom: 6px;
}
footer .mod_footer_links {
  font-size: 12px;
  margin: 0;
  padding-bottom: 36px;
  position: relative;
  background: #f5f5f5;
  height: 100px;
  width: 1200px;
  margin: 0 auto;
}
footer .ftcont {
  width: 1200px;
  margin: 0 auto;
}
footer .ftcont a:hover, footer .ftcont a:active {
  text-decoration: none;
  color: #ee394b;
}
footer .ftList li {
  margin-right: 55px;
  display: inline;
  float: left;
  margin-right: 5px;
}
footer .mb10 {
  margin-bottom: 10px;
  margin-left: 10px;
}
footer a {
  color: #777;
}
footer .clearfix {
  color: #333;
}
footer .ml30 {
  margin-left: 30px;
}
footer .tc {
  text-align: center;
}
footer .qypage-1200 .ftList li {
  margin-right: 55px;
}
footer .mod_footer_links .ftList li {
  display: inline;
  float: left;
  margin-right: 5px;
}
footer .mb10 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=demo.css.map */
